@model BayShoreSolution_TestQuestion.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("IsPalindrome", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    <h2>Check if a Number is Palindrome.</h2>
                    <hr />

                    <div class="form-group row">
                        <label for="example-number-input" class="col-2 col-form-label">Enter Number</label>
                        <div class="col-10">
                            @Html.TextBoxFor(m => m.InputNumber, new { @class = "form-control", @id = "example-number-input" })
                            @Html.ValidationMessageFor(m => m.InputNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                 }
                <br />
                <div class="form-group row">
                    <div class="col-10">
                        <h3>Result: @Model.IsPalindrome</h3>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>